* {
    margin: 0;
    padding: 0;
}
body {
    padding: 3em;
    font-family: Lucida, sans-serif;
}
h1,
h2,
h3,
p {
    padding: 1em 0;
}
h1 {
    font-size: 2em;
}
header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}
header div {
    background-color: #cccccc;
    text-align: center;
    padding-top: 5vh;
    border: 1px solid #979797;
}
.logo-column {
    flex: 0 0 10%;
}
.navigation-column {
    flex: 0 0 40%;
}
progress {
    width: 100%;
    height: 3.5em;
    border: 1px solid darkgrey;
}
progress::-webkit-progress-bar {
    background-color: white;
}
progress::-webkit-progress-value {
    background-color: #cdcdcd;
}
abbr {
    text-decoration: none;
}
/* Building blocks for content */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    text-align: center;
}
.column {
    flex: 0 0 50%;
}
.column-small {
    flex: 0 0 25%;
}
.column-small input {
    width: 15%;
}
.column-narrow {
    flex: 0 0 20%;
    padding-top: 5em;
}
.column-wide {
    flex: 0 0 75%;
    padding-top: 5em;
}
textarea {
    width: 100%;
    height: 10em;
    border: 2px solid #b3b2b2;
}
form label {
    font-weight: bold;
    padding: 1em;
}
input,
select {
    width: 50%;
    padding: 1em;
    margin-right:0;
    border: 2px solid #b3b2b2;
}
input[type="checkbox"] {
    cursor: pointer;
    height: 2em;
    width: 2em;
}
/* Hide shipping address when checked */
#toggle:checked ~ .hidden {
    display: none;
    position: absolute;
}
/* Styles for radio buttons */
.subscription_field {
    display: flex;
}
.subscription_btn {
    margin-right: 3em;
    padding: 1em;
    padding-bottom: 10em;
}
input[type="radio"] {
    cursor: pointer;
    height: 2em;
    width: 2em;
}
.gallery-row {
    display: flex;
    flex-wrap: wrap;
}
.gallery-column {
    flex: 0 0 20%;
    padding: 1em;
}
.gallery-column img {
    width: 100%;
}
/* Styles for submit button */
input[type="submit"] {
    font-size: 1.3em;
    width: 20%;
    float: right;
    margin-bottom: 3em;
    height: 5.6em;
    background-color: #cccccc;
    border: 1px solid #979797;
    font-weight: bold;
}